/* styles/pdf.css */

/* Definir a largura para o tamanho A4 */
.classA4 {
  width: 210mm;
  margin: 0 auto;
}

/* Controlar quebras de página */
.page {
  width: 210mm; /* A4 width in mm */
  margin: 10mm;
  padding: 20mm;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: white;
  display: flex;
  flex-direction: column;
}

.avoid-page-break {
  page-break-inside: avoid;
}

.page-break-before {
  page-break-before: always;
}

.page-break-after {
  page-break-after: always;
}


@media print {
  body {
    margin: 0;
  }
  .classA4 {
    width: 210mm;
  }
}
